* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    color: #333;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
}

html {
    background-color: #000;
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

:root {
    --primary: #333;
    --secondary: #fff;
}

.container-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: var(--primary);
}

.nav-background {
    background-color: rgb(123, 123, 123);
    background-image: url(/img/netflix.jpg);
    padding-bottom: 100px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-blend-mode: multiply;
}

.nav-background > .nav-section {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding-top: 20px;
}

.nav-section > .nav-left {
    flex: 0 1 50%;
    margin-left: 5rem;
}

.nav-section > .nav-left > .logo {
    fill: #ff1100;
    top: -10px;
}

.nav-section > .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    flex: 0 1 50%;
}

.nav-section > .nav-right > .language {
    margin-right: 2rem;
    position: relative;
}

.nav-section > .nav-right > .language::before {
    content: url(/img/world-icon15.png);
    font-size: .75rem;
    position: absolute;
    top: 10px;
    left: 5px;
}

.nav-section > .nav-right > .language > select {
    padding: 6px;
    width: 120px;
    background: transparent;
    color: var(--secondary);
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: center;

    appearance: none;

    background: url(/img/icon-down.png) 95% / 15% no-repeat transparent;
}

.nav-section > .nav-right > .language > select::after {
    content: "\e896";
    font-size: .75rem;
    left: .5rem;
    color: var(--secondary);
}

.button-style-login {
    background: red;
    border: none;
    padding: 7px 17px;
    border-radius: 3px;
    color: var(--secondary);
    cursor: pointer;
    text-decoration: none;
}

.header-main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-main > .title-section > h1, h2 {
    color: var(--secondary);
    text-align: center;
}

.header-main > .title-section > h1 {
    font-size: 3.25rem;
    max-width: 645px;
    line-height: 1.1;
}

.header-main > .title-section > h2 {
    font-size: 1.625rem;
    margin: 1rem auto;
    font-weight: 400;
}

.header-main > .form-section > .form-title > h3 {
    color: var(--secondary);
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem auto;
    font-weight: 400;
    padding-bottom: 20px;
}

.form-input {
    display: flex;
}

.form-input > .email-space > form > input {
    min-width: 470px;
    height: 4rem;
}

.button-subscribe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    font-size: 1.625rem;
    min-width: 180px;
    background: red;
    border: none;
    color: var(--secondary);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}


.border-section {
    border: 5px solid #333;
}
/* Card Section */

.card-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 80%;
    min-height: 450px;
}

.card-left {
    display: flex;
    padding: 0 3rem 0 0;
    height: 100%;
    width: 52%;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center; 
}

.card-left-4 {
    display: flex;
    height: 100%;
    width: 52%;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center; 
}

#wrapper-first > h1 {
    color: var(--secondary);
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;   
}

#wrapper-first > h2 {
    font-size: 1.625rem;
    font-weight: 400;
    text-align: start;
    margin-top: 1rem;
}

#wrapper-second > h1 {
    color: var(--secondary);
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;   
}

#wrapper-second > h2 {
    font-size: 1.625rem;
    font-weight: 400;
    text-align: start;
    margin-top: 1rem;
}

#wrapper-second {
    margin-left: 2rem;
}

.card-right {
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.card-right-2 {
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.card-right-4 {
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    width: 48%;
}

.card-right-4 > img {
    width: 100%;
    height: auto;
}

.story-card-animation {
    overflow: hidden;
    position: relative;
}

.story-card-animation > img {
    border: 0;
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.video-animation {
    height: 100%;
    left: 50%;
    max-height: 55%;
    max-width: 73%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.video-animation-2 {
    height: 100%;
    left: 50%;
    max-height: 72%;
    max-width: 62%;
    position: absolute;
    top: 46%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.video1 {
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
}

.story-card-animation2 {
    display: flex;
    position: relative;
}


.story-card-animation2 > img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.story-footer {
    display: flex;
    position: absolute;
    width: 350px;
    height: 90px;
    background-color: #000;
    border-radius: 10px;
    border: 2px solid #333;
    z-index: 1111;
    bottom: 25px;
    left: 95px;
}

.img-story-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.img-story-footer > img {
    width: 56px;
    height: 72px;
}

.text-story-footer {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-story-footer > .title-story-box {
    font-size: 15px;
    color: var(--secondary);
}

.text-story-footer > .title-download-box {
    font-size: 14px;
    color: #0071EB;
    text-align: start;
}

.download-story-footer {
    flex: 1;
    background: url(/img/download-icon.gif) no-repeat 50%;
    background-size: 50%;
}

  /* Faq Section */

.wrapper-faq {
    margin: 0 auto;
    max-width: 80%;
}

.container-faq > .wrapper-faq > h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--secondary);
    margin-top: 5rem;
}

.wrapper-list-faq {
    max-width: 65%;
    margin: 0 auto;
}

.faq-list {
    margin-top: 3rem;
}

.faq-list-item {
    list-style-type: none;
    font-size: 1.6rem;
}

.faq-button {
    border: 0;
    font-weight: 400;
    margin-bottom: .5rem;
    padding: 1em 2.2em 1em 1.2em;
    position: relative;
    width: 100%;

    background: #303030;
    display: block;
    text-align: left;

    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;

    color: var(--secondary);
    font-size: 1.5rem;
}

.svg-faq-icon {
    fill: var(--secondary);
    height: 2em;
    position: absolute;
    right: 2em;
    top: 35%;
    width: 2em;
}

.wrapper-form-faq {
    display: flex;
    justify-content: center;
}

.wrapper-form-faq > .form-section > .form-title {
    margin-top: 3rem;
}

.wrapper-form-faq > .form-section > .form-title > h3 {
    text-align: center;
    color: var(--secondary);
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.wrapper-form-faq > .form-section > .form-input {
    margin-bottom: 5rem;
}

/* Footer */

footer {
    width: 70%;
    margin: 0 auto;
}

footer > .wrapper-footer > .telephone {
    margin-top: 3.5rem;
}

footer > .wrapper-footer > .telephone > p, a {
    color: #737373;
    text-decoration: none;
    font-size: 1em;
}

footer > .wrapper-footer > .telephone > p > a:hover {
    text-decoration: underline;
} 

footer > .wrapper-footer > .footer-grid {
    display: flex;
    margin: 3rem 0;
}

footer > .wrapper-footer > .footer-grid > .first-grid, .second-grid, .third-grid, .fourth-grid {
    flex: 1;
}

footer > .wrapper-footer > .footer-grid > * > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer > .wrapper-footer > .footer-grid > * > ul > li {
    margin-bottom: .8rem;
}

footer > .wrapper-footer > .footer-grid > * > ul > li > a {
    color: #737373;
    font-size: 13px;
}

footer > .wrapper-footer > .footer-grid > * > ul > li > a:hover {
    text-decoration: underline;
}

.wrapper-footer > .wrapper-footer-lang > .language {
    margin-right: 2rem;
    position: relative;
}

.wrapper-footer > .wrapper-footer-lang > .language::before {
    content: url(/img/world-icon15.png);
    filter: invert(60%);
    font-size: .75rem;
    position: absolute;
    top: 20px;
    left: 10px;
}

.wrapper-footer > .wrapper-footer-lang > .language > select {
    padding: 15px;
    width: 140px;
    background: transparent;
    color: #737373;
    border: 1px solid #333;
    border-radius: 3px;
    text-align: center;

    appearance: none;

    background: url(/img/icon-down.png) 95% / 15% no-repeat transparent;
    filter: invert(60%);
}

.wrapper-footer > p {
    margin: 2rem 0;
    color: #737373;
    font-size: 13px;
}
/* Media Query Tablet */

/* Nav - Header Section */

@media screen and (max-width: 950px) {
    .nav-background {
        padding-bottom: 0px;
    }

    .nav-section > .nav-right > .language > select {
        padding: 4px;
        width: 110px;
    }

    .button-style-login {
        padding: 5px 10px;
    }

    .nav-section > .nav-left {
        position: relative;
        flex: 0 1 50%;
        margin-left: 3rem;
    }
        
    .nav-section > .nav-left > .logo {
        position: absolute;
        fill: #ff1100;
        top: -10px;    
    }
        
    .nav-section > .nav-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 0 1 50%;
        margin-right: 1.5rem;
    }

    .nav-section > .nav-right > .language {
        margin-right: 1rem;
    }

    .header-main {
        justify-content: unset;
        margin-top: 7rem;
    }

    .header-main > .title-section > h1 {
        font-size: 3rem;
        max-width: 640px;
        line-height: 1.2;
    }

    .header-main > .title-section > h2 {
        font-size: 1.8;
        margin: 1rem auto;
        font-weight: 400;
        max-width: 640px;
    }

    .header-main > .form-section {
        max-width: 400px;
    }

    .header-main > .form-section > .form-title > h3 {
        font-size: 1.5rem;
        max-width: 450px;
    }

    .header-main > .form-section > .form-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-input > .email-space > form > input {
        height: 3.5rem;
        min-width: 500px;
    }

    .button-subscribe {
        margin-top: 1rem;
        height: 2.5rem;
        font-size: 1rem;
        min-width: 130px;
        border-radius: 3px;
    }

    /* Card Section */

    .card-1 {
        flex-direction: column;
        margin: 4rem auto;
        max-width: 100%;
    }

    .card-left {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    #wrapper-first > h1 {
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: .5rem;
    }

    #wrapper-first > h2 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
    }

    #wrapper-second > h1 {
        font-size: 2.5rem;
        margin: 3rem 0 0;
    }

    #wrapper-second > h2 {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 400;
        width: 100%;
    }

    .card-right {
        width: 100%;
    }

    .card-right-2 {
        width: 100%;
        order: 2;
    }

    .card-left-4 {
        display: flex;
        width: 90%;
        order: 1;
        text-align: center;
        margin-bottom: 2rem;
    }

    .card-right-4 {
        display: flex;
        flex: 0 1 auto;
        width: 60%;
        order: 2;
    }

    .story-footer {
        width: 400px;
        height: 90px;
        z-index: 1111;
        bottom: 30px;
        left: 115px;
    }

    .img-story-footer > img {
        width: 56px;
        height: 70px;
    }

    .text-story-footer > .title-story-box {
        font-size: 14px;
    }

    .story-card-animation {
        margin: 0 auto;
    }

    .story-card-animation2 {
        margin: 0 auto;
    }

    /* FAQ Section */

    .wrapper-form-faq > .form-section > .form-input {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper-faq {
        margin: 0 auto;
        max-width: 100%;
    }
    
    .container-faq > .wrapper-faq > h1 {
        font-size: 2.8rem;
        text-align: center;
        color: var(--secondary);
        margin-top: 5rem;
        line-height: 1.2;
    }
    
    .wrapper-list-faq {
        max-width: 80%;
        margin: 0 auto;
    }

    .faq-button {
        padding: 1.1rem;
        font-size: 1.2rem;
    }

    .wrapper-form-faq > .form-section > .form-title > h3 {
        font-size: 1.4rem;
        width: 70%;
        line-height: 1.5;
        margin: 0 auto;
    }

    .wrapper-form-faq > .form-section > .form-input > .email-space > form > input {
        min-width: 430px;
    }


}


/* Media Query Smartphone  */

/* Nav - Header */

@media screen and (max-width: 550px) {

    .nav-background {
        padding-bottom: 0px;
    }

    .nav-section > .nav-right > .language > select {
        padding: 4px;
        width: 110px;
    }

    .button-style-login {
        padding: 5px 10px;
    }

    .nav-section > .nav-left {
        position: relative;
        flex: 0 1 50%;
        margin-left: 3rem;
    }
        
    .nav-section > .nav-left > .logo {
        position: absolute;
        fill: #ff1100;
        top: -10px;    
    }
        
    .nav-section > .nav-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 0 1 50%;
        margin-right: 1.5rem;
    }

    .nav-section > .nav-right > .language {
        margin-right: 1rem;
    }

    .header-main {
        justify-content: unset;
        margin-top: 7rem;
    }

    .header-main > .title-section > h1 {
        font-size: 1.90rem;
        max-width: 640px;
    }

    .header-main > .title-section > h2 {
        font-size: 1.125rem;
        margin: 1rem auto;
        font-weight: 400;
        max-width: 640px;
    }

    .header-main > .form-section {
        max-width: 400px;
    }

    .header-main > .form-section > .form-title > h3 {
        font-size: 18px;
        max-width: 450px;
    }

    .header-main > .form-section > .form-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-input > .email-space > form > input {
        height: 2.5rem;
        min-width: 350px;
    }

    .button-subscribe {
        margin-top: 1rem;
        height: 2.5rem;
        font-size: 1rem;
        min-width: 130px;
        border-radius: 3px;
    }

    /* Card Section */
    
    .card-1 {
        flex-direction: column;
        margin: 4rem auto;
    }

    .card-left {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    #wrapper-first > h1 {
        font-size: 1.8rem;
        line-height: 1.1;
        margin-bottom: .5rem;
    }

    #wrapper-first > h2 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        width: 100%;
    }

    #wrapper-second > h1 {
        font-size: 1.6rem;
        margin: 3rem 0 0;
    }

    #wrapper-second > h2 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 400;
        width: 100%;
    }

    .card-right {
        width: 100%;      
    }

    .card-right-2 {
        width: 100%;
        order: 2;
    }

    .card-left-4 {
        display: flex;
        width: 100%;
        order: 1;
        text-align: center;
        margin-bottom: 2rem;
    }

    .card-right-4 {
        display: flex;
        flex: 0 1 auto;
        width: 100%;
        order: 2;
    }

    .story-footer {
        width: 325px;
        height: 75px;
        z-index: 1111;
        bottom: 15px;
        left: 55px;
    }

    .img-story-footer > img {
        width: 56px;
        height: 70px;
    }

    .text-story-footer > .title-story-box {
        font-size: 14px;
    }

    /* Faq Section */

    .wrapper-form-faq > .form-section > .form-input {
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper-faq {
        margin: 0 auto;
        max-width: 100%;
    }
    
    .container-faq > .wrapper-faq > h1 {
        font-size: 2.8rem;
        text-align: center;
        color: var(--secondary);
        margin-top: 5rem;
        line-height: 1.2;
    }
    
    .wrapper-list-faq {
        max-width: 85%;
        margin: 0 auto;
    }

    .faq-button {
        padding: .8rem;
        font-size: 1.2rem;
    }

    .wrapper-form-faq > .form-section > .form-title > h3 {
        font-size: 1.1rem;
        width: 75%;
        margin: 0 auto;
    }

    .wrapper-form-faq > .form-section > .form-input > .email-space > form > input {
        min-width: 430px;
    }


    /* Footer Section */

    footer > .wrapper-footer > .footer-grid {
        display: flex;
        margin: 3rem 0;
        flex-wrap: wrap;
    }

    footer > .wrapper-footer > .footer-grid > .first-grid, .second-grid, .third-grid, .fourth-grid {
        flex: 1 1 50%;
    }
}