* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

:root {
    --primary: #333;
    --secondary: #fff;
}

.container-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-background {
    background-color: rgb(169, 169, 169);
    background-image: url(/img/netflix.jpg);
    padding-bottom: 100px;
    background-repeat: no-repeat;
    object-fit: cover;
    background-blend-mode: multiply;
}

.nav-background > .nav-section {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding-top: 20px;
}

.nav-section > .nav-left {
    position: relative;
    flex: 0 1 50%;
    margin-left: 5rem;
}

.nav-section > .nav-left > .logo {
    position: absolute;
    fill: #ff1100;
}

.nav-section > .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5rem;
    flex: 0 1 50%;
}

.nav-section > .nav-right > .language {
    margin-right: 2rem;
}

.header-main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-main > h1, h2, h3 {
    color: var(--secondary);
    text-align: center;
}

.header-main > h1 {
    font-size: 3.25rem;
    max-width: 645px;
}

.header-main > h2 {
    font-size: 1.625rem;
    margin: 1rem auto;
    font-weight: 400;
}

.header-main > h3 {
    font-size: 1.2rem;
    margin: 1rem auto;
    font-weight: 400;
}
